<main class="main">
  <div class="content">
    <app-card title="Hádanky: Co se vyskytuje jednou v minutě, dvakrát v momentě, ale ani jednou v roce?" content="Pismeno 'M'"></app-card>
    <app-card title="Hádanky: Tloustnu a hubnu ze vzduchu, štamgasta zvolá ejchuchu. Nosím se jak mimino, žebra stojí v domino." content="Harmonika"></app-card>
    <app-card title="Hádanky: Jen půl roku pracuji, do žeber si pumpuji. Děvče svléknu během chvilky, stačí pustit více žilky. Plyn, proud i ta voda je mou krevní skupinou, přijde-li však velká vada, škrtni sirkou jedinou." content="Topení"></app-card>
    <app-card title="Hádanky: Chodí k nám moudrá pán, brýle má kulaté, snad proto toho tolik ví, snad proto všechno najde." content="Google"></app-card>
    <app-card title="Hádanky: Jsem na nebi a v kapse, kdo se ztratí, rád mě najde." content="GPS"></app-card>
    <app-card title="Hádanky: Jaké slovo obsahuje 26 písmen, ale má jen 4 slabiky." content="Abeceda"></app-card>
    <app-card title="Šifra 1. Napoveda" content="Šifrujeme podle tabulek pod textem. Abychom rozeznali podle které tabulky šifrujeme, píšeme doprostřed šifry tečky, které jsou pod tabulkama. Př.: první tabulky žádnou u druhé jednu a u třetí dvě tečky."></app-card>
    <app-card title="Šifra 2. Napoveda" content="Místo písmene, které chceme zašifrovat nakreslíme čáry, které jsou okolo písmene."></app-card>
    <app-card title="Šifra Tajenka" content="Alespoň jednou za rok navštiv místo, kde jsi nikdy před tím nebyl."></app-card>
    <app-card title="Slepá mapa 1:" content="Karlovy Vary"></app-card>
    <app-card title="Slepá mapa 2:" content="Brno"></app-card>
    <app-card title="Slepá mapa 3:" content="České Budějovice"></app-card>
    <app-card title="Slepá mapa 4:" content="Havlíčkův Brod"></app-card>
    <app-card title="Slepá mapa 5:" content="Olomouc"></app-card>
    <app-card title="Slepá mapa 6:" content="Znojmo"></app-card>
    <app-card title="Osmisměrka tajenka" content="Kolikrát"></app-card>
    <app-card title="Homonima 1:" content="Los"></app-card>
    <app-card title="Homonima 2:" content="Kolej"></app-card>
    <app-card title="Homonima 3:" content="Stopky"></app-card>
    <app-card title="Homonima 4:" content="Pas"></app-card>
    <app-card title="Homonima 5:" content="Koruna"></app-card>
    <app-card title="Homonima 6:" content="Větrník"></app-card>
    <app-card title="Homonima 7:" content="Polštář"></app-card>
    <app-card title="Piktogramy 1:" content="Čtyři vraždy stačá drahoušku"></app-card>
    <app-card title="Piktogramy 2:" content="Tři oříšky pro popelku"></app-card>
    <app-card title="Piktogramy 3:" content="Slunce seno jahody"></app-card>
    <app-card title="Piktogramy 4:" content="Jak se budí princezny"></app-card>
  </div>
</main>
